{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
- Features
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">

		</br>

		<div class="row hero">
			<div class="col-md-12 panel panel-success">
				<div class="panel-body">
			        </br>
			        <div class="col-md-7">
			        	<h3 class="text-success">So what can MapMe do for you?</h3>
			        	</br>
			        	</br>
			        	<p>Many questionable websites can be hiding behind clever domain names. </p>
			        	<p><strong>Don't fall for their tricks.</strong> Know where you're browsing while you browse.</p>
			        	</br>
			        	<p>Use our <a href="#">Chrome extension</a> to warn you of possibly unsafe sites.</p>

			        </div>
			        <div class="col-md-5 pull-right bottom-padding">
			        	<img class="pull-right" height="225" width="300" src="/static/extension.png" class="bottom-padding">
			        </div>
			    </div>
			</div>
		</div>

		
	</div>
</div>

</div>



{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">


$(document).ready(function(){
	

});

</script>

{% endblock %}