{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
- Find Me
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">
		

		</br>

		<div class="row">
			<div class="col-md-12 panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Your Current IP Location</h3>
				</div>
				<div class="panel-body text-center">
			        {% for category, message in get_flashed_messages(with_categories=true) %} 
			        <div class="alert alert-{{ category }}">
			        	<button type="button" class="close" data-dismiss="alert">&times;</button>
			        	{{ message }}
			        </div>
			        {% endfor %}
			        <div id="map-container">
			        	
			        </div>
			    </div>
			</div>
		</div>

		
		
	</div>
</div>

</div>



{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyA0C2Xi_cPKItEbSokdY-pwmOJCvXfGqik"></script>

<script type="text/javascript">

$(document).ready(function(){
	
	console.log('test');

	$('#map-container').css('height', '450px');

	function initialize_map(latitude, longitude, title) {
		var myLatlng = new google.maps.LatLng(latitude, longitude);

		var mapOptions = {
			center: myLatlng,
			zoom: 10
		};

		var map = new google.maps.Map(document.getElementById('map-container'), mapOptions);

		var marker = new google.maps.Marker({
		    position: myLatlng,
		    map: map,
		    title: title
		});
	}

	$.ajax({
		type : "GET",
		url : "http://icanhazip.com",
		success : function(resp){
			console.log(resp);
			$.ajax({
				type : "GET",
				url : "/geoip/" + resp,
				contentType: 'application/json;charset=UTF-8',
				beforeSend: function(){
					$('.gm-style').remove();
				},
				success : function(resp){
					initialize_map(resp['Latitude'], resp['Longitude'], resp['IP Address']);
				},
			})
		},
		error : function(resp){
			alert(resp);
		}
	});



	

	

	
});

</script>

{% endblock %}