{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
- Home
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">
		{% for category, message in get_flashed_messages(with_categories=true) %} 
		<div class="alert alert-{{ category }}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}

		</br>

		<div class="row hero">
			<div class="col-md-12 panel panel-success">
				<div class="panel-body">
			        </br>
			        <div class="col-md-7">
			        	<h3 class="text-success">Where are you really browsing?</h3>
			        	</br>
			        	</br>
			        	<p>Many questionable websites can be hiding behind clever domain names. </p>
			        	<p>Don't fall for their tricks. Know where you're browsing while you browse.</p>
			        	</br>
			        	<p>Use our <a href="/static/extension.crx" id="popover" rel="popover" >Chrome extension</a> to warn you of possibly unsafe sites.</p>

			        </div>
			        <div class="col-md-5 pull-right bottom-padding">
			        	<img width="300" height="225" class="pull-right" src="/static/extension.png" class="bottom-padding">
			        </div>
			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Find location of a domain below</h3>
				</div>
				<div class="panel-body">
			        </br>
			        <div class="alert-box">
			        	
			        </div>
			        <form class="form-inline">
				        <div class="input-group">
			        	   <input type="text" class="form-control" id="URL" placeholder="example.com">
			        	   <span class="input-group-btn">
				        	  <button type="submit" id="URLSubmit" class="btn btn-success">Lookup</button>
			        	  </span>
			        	 </div>
		        	</form>
			        </br>
			        <div id="map-container">
			        	
			        </div>
			    </div>
			</div>
		</div>

		
		
	</div>
</div>

</div>



{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyA0C2Xi_cPKItEbSokdY-pwmOJCvXfGqik"></script>

<script type="text/javascript" src="/static/markerwithlabel_packed.js"></script>

<script type="text/javascript">


$(document).ready(function(){
	
	$('a[rel=popover]').popover({
	  html: true,
	  trigger: 'hover',
	  content: function () {
	    return '<div style="height: 30%; width: auto;"><img src="/static/extension.png"></div>';
	  }
	});

	// $('.input#URL').css('width', '100%');
	// $('.input-group-btn').css('width', '100%');

	function initialize_map(latitude, longitude, titleText) {
		var myLatlng = new google.maps.LatLng(latitude, longitude);

		var mapOptions = {
			center: myLatlng,
			zoom: 10
		};

		var map = new google.maps.Map(document.getElementById('map-container'), mapOptions);

		var marker = new MarkerWithLabel({
		    position: myLatlng,
		    map: map,
		    title: titleText,
		    labelContent: titleText,
       		labelAnchor: new google.maps.Point(-15, 30),
		    labelClass: "marker-label",
		    animation: google.maps.Animation.DROP
		});
	}

	{% if destination %}
		$('.hero').animate({height: 0}, 1800, function(){ 
			$('.hero').hide();
		});
		$('#map-container').animate({height: 450}, 1800, function(){ 
			$('#map-container').css('height', '450px');
			initialize_map({{ destination['Latitude'] }}, {{ destination['Longitude'] }}, "{{ destination['Domain Name'] }}");
		});

	{% else %}

		$('#URLSubmit').on('click',function(e){
			e.preventDefault();

			$.ajax({
				type : "GET",
				url : "/geoip/" + $('input#URL').val(),
				contentType: 'application/json;charset=UTF-8',
				beforeSend: function(){
					$('.gm-style').remove();
					$('.alert-warning').remove();
				},
				success : function(resp){
					$('.hero').animate({height: 0}, 1200, function(){ 
						$('.hero').hide();
					});
					$('#map-container').animate({height: 450}, 1200, function(){ 
						$('#map-container').css('height', '450px');
						initialize_map(resp['Latitude'], resp['Longitude'], $('input#URL').val());
						$('input').val('');
					});
				},
				error : function(resp){
					$('.hero').fadeIn();
					$('.alert-box').append('<div class="alert alert-warning alert-dismissible" role="alert">					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>					  <strong>' + resp.responseJSON['Error'] + '</div>');
				}
			});
		});

	{% endif %}
});

</script>

{% endblock %}