{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
- Home
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">
		{% for category, message in get_flashed_messages(with_categories=true) %} 
		<div class="alert alert-{{ category }}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}

		</br>

		<div class="row hero">
			<div class="col-md-12 panel panel-success">
				<div class="panel-body">
			        </br>
			        <div class="col-md-6">
			        	<h3 class="text-success">Where are you really browsing?</h3>
			        	</br>
			        	</br>
			        	<p>Many questionable websites can be hiding behind clever domain names. </p>
			        	<p>Don't fall for their tricks. Know where you're browsing while you browse.</p>
			        </div>
			        <div class="col-md-3 pull-right">
			        	<img src="/static/earth.png" class="bottom-padding">
			        </div>
			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Find location of a domain below</h3>
				</div>
				<div class="panel-body text-center">
			        </br>
			        <form class="form-inline">
		        	   <input type="text" class="form-control" id="URL" placeholder="example.com">
		        	  <button type="submit" id="URLSubmit" class="btn btn-success">Lookup</button>
		        	</form>
			        </br>
			        <div id="map-container">
			        	
			        </div>
			    </div>
			</div>
		</div>

		
		
	</div>
</div>

</div>



{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyA0C2Xi_cPKItEbSokdY-pwmOJCvXfGqik"></script>

<script type="text/javascript">

function initialize_map(latitude, longitude, title) {
	var myLatlng = new google.maps.LatLng(latitude, longitude);

	var mapOptions = {
		center: myLatlng,
		zoom: 10
	};

	var map = new google.maps.Map(document.getElementById('map-container'), mapOptions);

	var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map,
	    title: title
	});
}

var loading = $('<div style="text-center"><i class="fa fa-spin fa-2x text-center fa-spinner"></i></div>');

$('#URLSubmit').on('click',function(e){
	e.preventDefault();

	$('.btn-success').addClass('hide');

	$.ajax({
		type : "GET",
		url : "/geoip/" + $('input#URL').val(),
		contentType: 'application/json;charset=UTF-8',
		beforeSend: function(){
			$('.col-md-2').append(loading);
		},
		success : function(resp){
			loading.remove();
			$('.btn-success').removeClass('hide');
			$('.hero').animate({height: 0}, 1800, function(){ 
				$('.hero').hide();
			});
			$('#map-container').animate({height: 450}, 1800, function(){ 
				$('#map-container').css('height', '450px');
				initialize_map(resp['Latitude'], resp['Longitude'], $('input#URL').val());
			});
			$('input').val('');
		},
		error : function(resp){
			alert(resp['responseText']);
			loading.remove();
			$('.hero').fadeIn();
			$('.btn-success').removeClass('hide');
       loading.remove();
		}
	});

});

</script>

{% endblock %}